@import "tailwindcss";

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background-color: #1e3a8a; /* Primary color */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

/* Override nprogress bar color using Tailwind's blue-500 */
#nprogress .bar {
  background-color: #3b82f6 !important;
  height: 4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #3b82f6, 0 0 5px #3b82f6;
}

#nprogress .spinner {
  display: none; /* optional: hide spinner */
}

